@page
@model PrivacyModel
@{
    ViewData["Title"] = "Thank you!";
}
<h1>@ViewData["Title"]</h1>

<a asp-page="Index" class='btn btn-default'>
    <i class='glyphicon glyphicon-chevron-left'></i>
    Back
</a>