@page
@model PrivacyModel
@{
    ViewData["Title"] = "Thank you!";
}
<h1>@ViewData["Title"]</h1>

<a asp-page="Index" class='btn btn-secondary btn-sm'>
    <i class='bi-arrow-bar-left'></i>
    Back
</a>