@using DNTCaptcha.TestWebApp.Models
@model AccountViewModel
@{
    ViewBag.Title = "Login";
}
<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#login1" aria-controls="login1" role="tab" data-toggle="tab">Instance 1</a>
        </li>
        <li role="presentation">
            <a href="#login2" aria-controls="login2" role="tab" data-toggle="tab">Instance 2</a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="login1">
            <form asp-controller="Home" asp-action="Index" asp-antiforgery="true"
                  method="post" id="loginForm1" autocomplete="off" role="form">
                @{
                    await Html.RenderPartialAsync("_LoginFormBody", Model).ConfigureAwait(false);
                }
            </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="login2">
            <form asp-controller="Home" asp-action="Login2" asp-antiforgery="true"
                  method="post" id="loginForm2" autocomplete="off" role="form">
                @{
                    await Html.RenderPartialAsync("_LoginFormBody", Model).ConfigureAwait(false);
                }
            </form>
        </div>
    </div>
</div>