@using DNTCaptcha.TestWebApp.Models
@using Microsoft.Extensions.Options
@using DNTCaptcha.Core
@model AccountViewModel
@inject IOptions<DNTCaptchaOptions> Options
@{
    ViewBag.Title = "Login";
    var refreshButtonId = Options.Value.CaptchaClass + "RefreshButton";
}
<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="nav-item">
		    <button class="nav-link active" id="home-tab" 
				data-bs-toggle="tab" data-bs-target="#login1" 
				type="button" role="tab" aria-controls="login1" 
				aria-selected="true">Instance 1</button>            
        </li>
        <li role="presentation" class="nav-item">
		    <button class="nav-link" id="home-tab" 
				data-bs-toggle="tab" data-bs-target="#login2" 
				type="button" role="tab" aria-controls="login2" 
				aria-selected="true">Instance 2</button>            
        </li>
        <li role="presentation" class="nav-item">		
		    <button class="nav-link" id="home-tab" 
				data-bs-toggle="tab" data-bs-target="#login3" 
				type="button" role="tab" aria-controls="login3" 
				aria-selected="true">Instance 3/Ajax Form</button>            			
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade show active" id="login1">
            <form asp-controller="Home" asp-action="Index" asp-antiforgery="true"
                  method="post" id="loginForm1" autocomplete="off" role="form">
                  <partial name="_LoginFormBody" model="Model" />
            </form>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="login2">
            <form asp-controller="Home" asp-action="Login2" asp-antiforgery="true"
                  method="post" id="loginForm2" autocomplete="off" role="form">
                  <partial name="_LoginFormBody" model="Model" />
            </form>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="login3">
            <form asp-controller="Home" asp-action="Login3" asp-antiforgery="true"
                  method="post" id="loginForm3" autocomplete="off" role="form"
                  data-ajax="true"
                  data-ajax-success="dataAjaxSuccess"
                  data-ajax-failure="dataAjaxFailure">
                  <partial name="_LoginFormBody" model="Model" />
            </form>
        </div>
    </div>
</div>

@section Scripts
{
  <script type="text/javascript">
    function dataAjaxSuccess(data, status, xhr) {
        alert('Success!');
        $("#loginForm3 #@refreshButtonId").click(); // refresh captcha
    }

    function dataAjaxFailure(xhr, status, error) {
        alert('Failure! Try Again!');
        $("#loginForm3 #@refreshButtonId").click(); // refresh captcha
    }
  </script>
}