@model string
@{
    ViewBag.Title = "Thank you!";
}

<h2>Thank you, @Model!</h2>

<a asp-controller="Home" asp-action="Index" class='btn btn-secondary btn-sm'>
    <i class='bi-arrow-bar-left'></i>
    Back
</a>